
h1 {
    font-size: large;
}

h2 {
    font-size: small;
}

table {
  border: solid 1px;
    -moz-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px
}

thead {
  background-color: rgba(0, 0, 0, 0.39);
  color: white;

}

table 

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

#prispevek div {

  border-top: solid grey 1px;
  margin-bottom: 5px;
}

#prispevek p {
  font-size: small;
  height: 250px;
  color: white;
  padding: 5px;
}


#nadpis {
  height: 80px;
}

#nadpis p {
  font-size: large;
}

.img {
  padding: 0;
  height: 500px;
  background-color: #332B40;
  margin-bottom: 4px;
}

.top-img {
 position: relative;
 height: 500px;
 top: -500px;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.top-img img {
    vertical-align: middle;
    width: 90%;
}

.txt {
padding-left: 15px;
padding: 0;
background-color: #332B40;
height: 500px;
margin-bottom: 4px;
}

.top-txt {
 position: relative;
 height: 150px;
 margin: 20px;
}

.top-txt p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  font-size: 25px;
  font-variant: Montserrat;
  text-align: left;
}

.mid-txt {
 position: relative;
 height: 200px;
 margin: 20px;
}

.mid-txt p {
  display: inline-block;
  color: white;
  vertical-align: middle;
  font-size: 15px;
  font-variant: Montserrat;
  text-align: left;
}

.end-txt {
  height: 100px;
}

.end-txt img {
  display: inline-block;
  margin-left: -65%;
  height: 45px;
}

.end-txt p {
  display: inline-block;
  color: white;
  padding-left: 10px;
}





