body {
padding: 0;
margin: 0;

}

.content {
  padding: 0px;
}

ul.header {
    margin-top: 0px;
}



#back-img {

    top: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/Gold_Coast_skyline.jpg');
    background-color: rgba(0, 216, 255, 0.1);
    background-repeat: no-repeat;

    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
}

#img {
    position: absolute;
    top: 225px;
    left: 0;
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/a/aa/Gold_Coast_skyline.jpg');
    background-repeat:no-repeat;
    background-size: 100% 100%;
    height: 100vh;
    width: 100%;
    -webkit-clip-path: polygon(0% 30%,  2% 34%, 2% 49%, 6% 50%, 6% 45%, 10.7% 45%, 11.5% 22%, 16% 17%, 16.5% 2%, 17.3% 49%, 18% 51%, 20.5% 48%, 21% 38%, 24% 37%, 24.2% 46%, 28% 45%, 29.5% 56%, 34.5% 56%, 34.5% 34%, 35.7% 33%, 36% 26%, 39% 26%, 39% 57%, 41.5% 58%, 41.5% 52%, 47% 55%, 47% 60%, 50% 63%, 53% 60%, 57% 58%, 57% 62%, 61% 62%, 61% 66%, 66% 66%,66% 69%,68% 71%,81% 71.5%,97% 72%,100% 72.5%,100% 100%, 0 100%, 0% 60%, 0 0);
    clip-path: polygon(0% 30%,  2% 34%, 2% 49%, 6% 50%, 6% 45%, 10.7% 45%, 11.5% 22%, 16% 17%, 16.5% 2%, 17.3% 49%, 18% 51%, 20.5% 48%, 21% 38%, 24% 37%, 24.2% 46%, 28% 45%, 29.5% 56%, 34.5% 56%, 34.5% 34%, 35.7% 33%, 36% 26%, 39% 26%, 39% 57%, 41.5% 58%, 41.5% 52%, 47% 55%, 47% 60%, 50% 63%, 53% 60%, 57% 58%, 57% 62%, 61% 62%, 61% 66%, 66% 66%,66% 69%,68% 71%,81% 71.5%,97% 72%,100% 72.5%,100% 100%, 0 100%, 0% 60%, 0 0);

   /* -webkit-mask-box-image: url("stamp.svg") 35 repeat;
    mask-border: url("stamp.svg") 20 repeat;  */

}

#welcomeH1 {
    position: fixed;

    top: 300px;
    animation: move 2s ease-out ;
    color: white;
    font-size: 90px;
    width: 70%;
}


@-webkit-keyframes move{
    0% {
        transform: scale(0.8) translateX(100px) ;
    
    }
    30% {
        transform: scale(1.2) translateX(150px) translateY(40px)  ;
    }
    60% {
        transform: scale(1.4) translateX(100px) translateY(50px)  ;
    }
    100% {
        transform: scale(1) translateX(0px) translateY(0px)  ;
    }
}

#article {
    z-index: 10;
    width: 100%;
    background-image: url('https://s3.pixers.pics/pixers/700/FO/64/83/87/35/700_FO64838735_922355947d5f0e53433a59925b6ff884.jpg');
    background-size: cover;
    display: inline-block
}

#gold-map{
   width: 50%;
    margin: 20px;
    float: left;
}

#article h1 {
    width: 100%;
    padding: 10px;
    font-size: 35px;
}

#article p {
    margin: 0;
    font-weight: bold;
    float: right;
    width: 45%;
    padding: 0;
    padding-right: 3%;
}


#button-scroll {
    margin: 30px;
    padding: 10px;
    top: 300px;
    float: right;
}
